* {
  border: .01em solid black;
}

/*------------MAIN PAGE LAYOUT---------------*/

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  margin: 0;
  /* background-repeat: no-repeat;
  background-attachment: fixed; */
  background-image:
  linear-gradient(
    #134d71, 
    #78a7c6, 
    #f7e4bf
  );
}

/*--------------FONT COLORS--------------------*/
h1,
h2 {
  color: #ffffff;
}

input, 
p { 
  color: #000000;
}

/*---------------RADIO BOX FORM-----------------*/


/*---------------MEDIATION BOX------------------*/

.meditation-image {
  text-align: center;
  height: 5rem;
  width: 5rem;
}

/*---------------HIDDEN CLASS--------------------*/
.hidden {
  diplay: none;
}