/* * {
  border: .01em solid black;
} */

/*------------MAIN PAGE LAYOUT---------------*/

html {
  height: 100%;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 0;
  background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #f7e4bf
  );
}

.affirmation-gradient {
  background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #8abe97
  );
}

.mantra-gradient {
  background-image:
    linear-gradient(
      #134d71 15%, 
      #78a7c6, 
      #f8b0b0
  );
}

/*--------------FONT COLORS--------------------*/
h1,
h2,
button,
h3 {
  color: #ffffff;
}

p { 
  color: #000000;
}

/*---------------HEADER TEXT--------------------*/
h1 {
  margin-top: 3rem;
  font-size: 2rem;
}

h2 {
  margin-top: 5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

/*---------------RADIO BOX FORM-----------------*/
.form-box {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  height: 7rem;
  width: 40%;
  /* margin-bottom: 3.5rem; */
}

.radio-button-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#choice1,
#choice2 {
  margin-right: 1rem;
  height: 1.2rem;
  width: 1.2rem;
}

label {
  font-size: 1.2rem;
  font-weight: 100;
  font-style: italic;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #134d71;
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding: .25rem 1.7rem;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

button:hover {
  box-sizing: border-box;
  background-color: #f7e4bf;
  margin-top: .5rem;
  padding: .5rem 2.5rem;
  color: black;
  font-weight: bold;
}

/*---------------RESTART MESSAGE------------------*/
h3 {
  margin: 0;
  margin-top: .2rem;
  font-size: 1rem;
  color:#134d71;
}

/*---------------MEDIATION BOX------------------*/
.meditation-wrapper {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  height: 10rem;
  width: 60%;
  margin-top: 6.5rem;
}

.meditation-image {
  height: 5rem;
  width: 5rem;
}

.message {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  padding: 1.2rem;
  font-size: 1.5rem;
  font-weight: 300;
}

.fade { 
  animation: fadein 3s;

}
@keyframes fadein {
  from {
    opacity:.05;
  }
  100% {
    opacity: 1;
  }
  /* to {
    opacity:1;
  } */
}

/*---------------HIDDEN CLASS--------------------*/
.hidden {
  display: none;
}

.cloak {
  visibility: hidden;
}

/*----------------LOAD MESSAGE ANIMATION-----------------*/

.get-message-animation {
  /* height: 4rem;
  width: 4rem; */
}

/* ------------------MEDIA QUERIES-------------------- */
@media only screen and (max-width: 700px) {

  h1,
  h2 {
    text-align: center;
  }

  h2 {
    margin-top: 2rem;
  }

  .form-box {
    height: 150px;
    width: 250px;
    margin-bottom: 3rem;  
  }

  .radio-button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
  }

  div {
    width: 10rem;
  }

  button {
    margin-top: 0rem;
    margin-bottom: 0.55rem;
  }

  .meditation-wrapper {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    height: 150px;
    width: 300px;
  }
  
  .message {
    /* text-align: center; */
    padding: 1.2rem;
    font-size: 1.25rem;
    font-weight: 300;
  }

  h3 {
    margin: 0;
    margin-top: .2rem;
    width: 15rem;
    font-size: 1rem;
    text-align: center;
    color:#134d71;
  }

/* @media only screen and (max-width: 900px) {}
/* @media screen and (max-width: 1020px) { Large Desktop } */
/* @media screen and (max-width: 780px) { tablet } */
/* @media screen and (max-width: 380px) { mobile } */

}
